{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5">
        <div class="card">
          <div class="card-body">
            <center><h1>{{ success_message }}</h1>
            <p>Total Amount: ${{ total_amount }}</p>
            <h5 class="card-title">Payment Successful!</h5>
            <p class="card-text">Thank you for your payment.</p>
            <a href="{% url 'bapp:main' %}" class="btn btn-primary">Back to Home</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
