{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<style>
  body {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_640.jpg');
  }

  p {
    color: white;
  }

  .card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(101, 96, 96, 0.452);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.402);
    color: #f0e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }
</style>

<br><br><br>
<div class="card">
  <div class="mb-3">
    <div class="card-body">
      <form method="post" action="" class="row g-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="center">
          <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
        </div>
        <div class="col-md-4">
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
<p>{% trans "Not a member?" %} <a class="btn btn-primary" href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
</div>
</div>

{% endblock %}



{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
</div>
</div>
</center>